<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CONVERTMILLO.CONVERTIDOR">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pulgada_centimetro"></activity>
        <activity android:name=".centimetro_pulgada" />
        <activity android:name=".metro_centimetro" />
        <activity android:name=".centimetro_metro" />
        <activity android:name=".kelvin_celsius" />
        <activity android:name=".faren" />
        <activity android:name=".celsius_a_kelvin" />
        <activity android:name=".celsius" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>